@page "/dashboard"


<section id="dashboard" class="container">
    <h2>Customer Dashboard</h2>
    <div class="info">
        <p><strong>Name:</strong> John Doe</p>
        <p><strong>Email:</strong> johndoe@email.com</p>
        <p><strong>Phone:</strong> +1234567890</p>
    </div>
</section>


@code {

}
